.hero {
  padding: 5em 0;
}

@media (min-width: 1200px) {
  .hero {
    min-height: 33.33em;
    display: flex;
    gap: 5%;
    align-items: flex-end;
    padding-top: 6em;
    padding-bottom: 8em;
  }
}
