.header__toggle {
  cursor: pointer;
  background-color: #6f737f;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: 0;
  position: absolute;
  /*top: 50%;*/
  left: 0;
  top: 0.9rem;
  /*transform: translate(0, -50%);*/
  transition: opacity 250ms ease;
}

.header__toggle:hover,
.header__toggle:focus {
  opacity: 75%;
}
