.hero__main-title {
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
  margin-bottom: 1.2em;
  line-height: 1.1;
}

@media (min-width: 1200px) {
  .hero__main-title {
    font-size: 5.625rem;
    margin: 0;
  }
}
